<p><%= current_user.get_full_name %> hat Dich eingeladen, im Projekt "<%= @project.name %>" mitzuarbeiten.</p>
<%= link_to('Accept', {:controller => 'projects', :action => 'accept_invitation', :id => @project.id, :message_id => @message.id}, method: :get, :class => 'btn btn-primary') %>
<%= link_to('Reject', {:controller => 'projects', :action => 'reject_invitation', :id => @project.id, :message_id => @message.id}, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger pull-right') %>
