$('table.table-striped>tbody').prepend("<tr id='client_<%= @client.id %>' class='selected'><td><%= escape_javascript(link_to @client, @client, :remote => :true) %></td></tr>");

$('#client_details').html("<%= escape_javascript(render @client) %>");