<div class="page-header">
  <h2>Editing client</h2>
</div>

<%= render 'form' %>

<%= link_to 'Show', @client, :class => 'btn btn-mini' %>
<%= link_to 'Back', clients_path, :class => 'btn btn-mini' %>
