<div class="page-header">
  <h2>Kundenliste</h2>
</div>

<%= link_to 'Neuen Kunden anlegen', new_client_path, :class => 'btn btn-primary' %>

<div class="row content">
  <div class="span4">
    <table class="table table-striped">
      <thead>
      </thead>

      <tbody>
      <% @clients.each do |client| %>
        <tr id="client_<%= client.id %>">
          <td><%= link_to client.name, client, :remote => :true %></td>
        </tr>
      <% end %>
      </tdody>
    </table>
  </div>
  <div id="client_details" class="span8">
    Wählen Sie einen Eintrag.
  </div>

</div>