$('tr#contact_<%= @contact.id %>').html("<td><%= escape_javascript(link_to @contact, @contact, :remote => :true) %></td><td style='text-align: right'><%= escape_javascript(link_to @contact.client, client_path(@contact.client)) if @contact.client %></td>");

$('#contact_details').html("<%= escape_javascript(render @contact) %>");