<div class="page-header">
  <h2>Editing project <%= image_tag("ajax-loader.gif", :style => "visibility: hidden", :id => "img_ajax_loader") %></h2>
</div>

<%= render 'form' %>

<%= link_to 'Show', @project, :class => 'btn btn-mini' %>
<%= link_to 'Back', projects_path, :class => 'btn btn-mini' %>
